<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body id="carro">
    <!-- seccion del header -->
    <%- include('./partials/header.ejs') %>



    <section class="home" id="home">
        <div class="box secondDetalle"
            style="background: url(https://i.gyazo.com/897344247eac255f3e3707c1a2374384.jpg) no-repeat;">
            <div class="contentc">
                <article class="">
                    <p>bienvenido al carrito de compras <%= user.FirstName %>, tenes los siguientes productos:</p>
                </article>   
                <% for( let [productos] of products){ %>
                   
                                <article class="">
                                    <span><%= productos.FirstName %></span>     
                                    <p><%= productos.FirstDescription %></p>
                                    <h3 class="precioP"> Desde: <%= productos.Price %> pesos</h3> 
                                </article>   
                    <% }%>
                    
                <a href="/register/editar/<%=user.id%>" class="btn">Editar Datos del usuario</a>
            </div>
        </div>
</section>

</body>

</html>