<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body id="l">
    
    <!-- seccion del header -->
    <%- include('./partials/header.ejs') %>
    <!-- seccion del header -->

    <!-- seccion de boton de busqueda -->
    <div class="search-form">

        <div id="close-search" class="fas fa-times"></div>

        <form action="">
            <input type="search" name="" placeholder="Que estas buscando?...." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>
    <main id="login">
        <div class="bl">
       <h1 class="mensaj">Que gusto volver a verte</h1>
        <div class="log">
        
            
            <h1 class="mensaje">Inicia sesión </h1>
            
            <form action="/register/login" method="post" id="logs">
                
                 
                <input type="email" name="email" id="email" placeholder="E-mail" value="<%=locals.old&&old.email%>">
                <%if(locals.errors && errors.email){%>
                <p class= "feedback" style="color: firebrick"><%= errors.email.msg %> </p>
                <% } %>
                <label for="email"></label>
                <input type="password" name="password" placeholder="Contraseña" id="password">
                <%if(locals.errors && errors.password){%>
                <p class= "feedback"style="color: firebrick"> <%=errors.password.msg %> </p>
                <% } %>
                <label for="contraseña"></label>
                <div class="alerta">
                    <ul>
                        
                    </ul> </div>
                    <label for="recordar" class="frase"> 
                    <input type="checkbox" name="recordar" id="recordar" value="recordar">Recordar
                    </label>
                    
                <button type="submit">Entrar</button>
            </form>
            </div>
        </div>
    </main>
    <script src="js/login.js"></script>
</body>
</html>