<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <!-- seccion del header -->
    <%- include('./partials/header.ejs') %>
    <!-- seccion del header -->

    <!-- seccion de boton de busqueda -->
    <div class="search-form">

        <div id="close-search" class="fas fa-times"></div>

        <form action="">
            <input type="search" name="" placeholder="Que estas buscando?...." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>
    <!-- seccion de boton de busqueda -->

    <!-- seccion del home -->
    <section class="home" id="home">
                    <div class="box secondDetalle"
                        style="background: url(https://i.gyazo.com/897344247eac255f3e3707c1a2374384.jpg) no-repeat;">
                        <div class="content">
                            <article class="">
                                <p>bienvenido</p>
                                <p>nombre:  <%= user.FirstName %></p>
                                <p>apellido:  <%= user.LastName %></p> 
                                <p>email:  <%= user.Email %> </p>  
                            </article>   
                            <a href="/register/editar/<%=user.id%>" class="btn">Editar Datos del usuario</a>
                            <br>
                            <a href="/register/logout" class="btn">Salir</a>
                            <% if (session.userLogged.Email =='admin@admin.com') { %>
                                <br>
                            <a href="/product/crear" class="btn">Agregar producto</a>
                            <%}%>
                        </div>
                    </div>
    </section>
    <!-- seccion del home -->


    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../../js/script.js"></script>
</body>

</html>
