<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <!-- seccion del header -->
    <%- include('./partials/header.ejs') %>
    <!-- seccion del header -->

    <!-- seccion de boton de busqueda -->
    <div class="search-form">

        <div id="close-search" class="fas fa-times"></div>

        <form action="">
            <input type="search" name="" placeholder="Que estas buscando?...." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>
    <!-- seccion de boton de busqueda -->

    <!-- seccion del home -->
    <section class="home" id="home" >
        <% arrayP.forEach((products) => { %>
            <div class="  box secondDetalle"style=" background: url(<%= products.image %>) no-repeat;" >
                <section class="content">
                    
                        <article class="">
                            <span><%= products.firstName %></span>     
                            <p><%= products.firstDescription %></p>
                            <h3 class="precioP"> Desde: <%= products.price %> pesos</h3> 
                        </article>   
                        <a href="/product/detalle/<%= products.id %>" class="btn">¡Mas detalles!</a>
                        
                </section>
            </div>	
            <% }) %>
            
    </section>
    <!-- seccion del home -->


    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="css/script.js"></script>
</body>

</html>