<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>

</head>
<body id="reg">
    <!-- seccion del header -->
    <%- include('./partials/header.ejs') %>
    <!-- seccion del header -->

    <!-- seccion de boton de busqueda -->
    <div class="search-form">

        <div id="close-search" class="fas fa-times"></div>

        <form action="">
            <input type="search" name="" placeholder="Que estas buscando?...." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>
    <main id="form">
        <div class="reg">
        <h1 class="mensaj">Bienvenido a Jujuy!</h1>
        <div class="regitr">
                
        
        <h1 class=" mensaje">Edita tu usuario</h1>
        <form action="/register/editar/<%= u.id %>?_method=PUT" method="post" id="registro" >
            
            <input type="text" name="Nombre" id="Nombre" placeholder="Nombre" value="<%=u.FirstName%>">
            <%if(locals.errors && errors.Nombre){%>
                <p class= "feedback"style="color: firebrick"> <%=errors.Nombre.msg %> </p>
            <% } %>
            <label for="Nombre"></label>

            <input type="text" name="Apellido" id="Apellido" placeholder="Apellido" value="<%=u.LastName%>">
            <%if(locals.errors && errors.Apellido){%>
                <p class= "feedback" style="color: firebrick;"><%= errors.Apellido.msg %> </p>
            <% } %>
            <label for="Apellido"></label>

            <input type="email" name="email" id="email" placeholder="E-mail" value="<%=u.Email%>" disabled>
            <%if(locals.errors && errors.email){%>
                <div class="alert"></div>
                <p class= "feedback" style="color: firebrick"><%= errors.email.msg %> </p>
            <% } %>
            <label for="email"></label>
            
            <input type="password" name="password" placeholder="Contraseña" id="contraseña" >
            <%if(locals.errors && errors.password){%>
                <p class= "feedback"style="color: firebrick"> <%=errors.password.msg %> </p>
            <% } %>
            <label for="contraseña"></label>

            <button type="submit">Finalizar edicion</button>

            <div class="alerta" style="font-size: medium;">
                <ul>
                    
                </ul> </div>

        </form>
    
        </div>
    </div>
    </main>
    
</body>
</html>