<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>

</head>
<body id="reg">
    <!-- seccion del header -->
    <%- include('./partials/header.ejs') %>
    <!-- seccion del header -->

    <!-- seccion de boton de busqueda -->
    <div class="search-form">

        <div id="close-search" class="fas fa-times"></div>

        <form action="">
            <input type="search" name="" placeholder="Que estas buscando?...." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>
    <main id="form">
        <div class="reg">
        <h1 class="mensaj">Bienvenido a Jujuy!</h1>
        <div class="regitr">
                
        
        <h1 class=" mensaje">Registráte</h1>
        <form action="/register" method="post" id="registro" enctype="multipart/form-data">
            
            <input type="text" name="Nombre" id="Nombre" placeholder="Nombre" value="<%=locals.old&&old.Nombre%>">
            
            <%if(locals.errors && errors.Nombre){%>
                <p class= "feedback"style="color: firebrick"> <%=errors.Nombre.msg %> </p>
            <% } %>
            <label for="Nombre"></label>

            <input type="text" name="Apellido" id="Apellido" placeholder="Apellido" value="<%=locals.old&&old.Apellido%>">
            
            <%if(locals.errors && errors.Apellido){%>
                <p class= "feedback" style="color: firebrick;"><%= errors.Apellido.msg %> </p>
            <% } %>
            <label for="Apellido"></label>

            <input type="email" name="email" id="email" placeholder="E-mail" value="<%=locals.old&&old.email%>">
           
            <%if(locals.errors && errors.email){%>
                <p class= "feedback" style="color: firebrick; font-size: medium;"><%= errors.email.msg %> </p>
            <% } %>
            <label for="email"></label>
            
            <input type="password" name="password" placeholder="Contraseña" id="contraseña">
            <div class="alerta" style="font-size: medium;">
                <ul>
                    
                </ul> </div>
            <%if(locals.errors && errors.password){%>
                <p class= "feedback"style= "color: firebrick"> <%=errors.password.msg %> </p>
            <% } %>
            <label for="contraseña"></label>

            <button type="submit">Registráte</button>

            <label class="frase">Ya tienes una cuenta?</label>
            <a href="/register/login">Inicia sesión</a>

        </form>
    
        </div>
    </div>
    </main>
    <script src="../../js/script.js"></script>
</body>
</html>